@import '/src/assets/styles/_variables';

.group-header {
  top: 50px;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  padding: 30px 40px;
  background: @bright-primary-translucent-color;
  background: rgba(245 245 247, .72);
  backdrop-filter: saturate(180%) blur(15px);

  .title {
    @media (max-width: 600px) {
      text-align: center;
    }
  }

  .join-button {
    color: #FFFFFF;
    transition: .2s;
    padding: 5px 20px;
    font-size: @text-font-size;
    background-color: @primary-color;

    i {
      margin: 0 5px;
    }
  }
}

.component-wrapper {
  .group-description {
    gap: 40px;
    transition: .2s;
    margin: 40px 0 !important;

    &.expanded {
      border-radius: 4px;
      background: #FFFFFF;

      .group-setting {
        box-shadow: none;
      }
    }

    .group-setting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: @text-font-size;

      i {
        margin: 0 10px;
        color: @text-color;
        font-size: calc(@text-font-size + 30px);

        span {
          color: white;
          line-height: 1;
          font-size: calc(@text-font-size + 10px);
          font-weight: 400;
          background: @text-color;
          position: absolute;
          margin: 24px -39px;
          font-style: normal;
        }
      }

      .label {
        font-weight: bold;
        color: @primary-color;
      }

      &.designations {
        .names {
          display: flex;
          overflow: auto;
          max-height: 100px;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }

  .group-status {
    gap: 40px;
  }
}
